*{
    padding:0;
    margin-left: 5px;
    margin-right: 5px;
    
    box-sizing: border-box;
}

p {
    font-size: 1em;
    color: black;
}

h1 {
    font-size: 3.5em;
    color: burlywood;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h2 {
    font-size: 2.5em;
    color: burlywood;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

img {
    width: 100%;
    height: auto;
    border-radius: 1%;
    box-shadow: 3px 3px 3px rgb(217, 217, 217);
}

li {
    display: inline;
}

.list {
    background-color: rgb(217, 217, 217);
    opacity: 0.3;
    border-radius: 1%;
}
#small {
    width: 150px;
    height: auto;
    border-radius: 1%;
    box-shadow: 3px 3px 3px rgb(217, 217, 217);
}

