div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 10px;
}

.left {
    color: blue;
}

.right {
    color: red;
}

#first {
    color: green;
}

#second {
    color: purple;
}