div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

img {
    width: 300px;
    height: 300px;
}

p {
    color: red;
}

#third  > span {
    visibility: hidden;
}

.right > p {
    display: none;
}

h1 {
    color: blue;
}

.container {
    margin: 10px;
}

.left {
    color: rgb(100, 56, 56);
}

.right {
    color: rgb(84, 76, 199);
}

#first {
    color: green;
}

#second {
    color: purple;
}

#third {
    color: yellow;
}

#fourth {
    color: cyan;
}

#fifth {
    color: chartreuse;
}

#sixth {
    color: fuchsia;
}