div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

img {
    width: 300px;
    height: 300px;
}

p {
    color: red;
}

#third  > span {
    visibility: hidden;
}

.right > p {
    display: none;
}

h1 {
    color: blue;
}

.container {
    margin: 10px;
}

.left {
    background-color: rgb(100, 56, 56);
}

.right {
    background-color: rgb(84, 76, 199);
}

#first {
    background-color: green;
}

#second {
    background-color: purple;
}

#third {
    background-color: yellow;
}

#fourth {
    background-color: cyan;
}

#fifth {
    background-color: chartreuse;
}

#sixth {
    background-color: fuchsia;
}